.all-categories{
    padding: 70px 50px 120px 50px;
    background-color: #ffe4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}

.table-container {
    max-height: 400px;  
    overflow-y: auto;
    display: block;
}

h1{
    font-family: "Poppins";
}

table{
    width: 100%;
    border-collapse: collapse;
    gap: 20px;
}

/* table, table thead tr th, table tbody tr td{
    border: 1px solid black;
} */

th {
    background-color: black;
    color:#ffe4e4;
}

table thead tr th, table tbody tr td{
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}

.action-icons{
    width: 30px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
}